---
// src/components/Footer.astro
---
<footer>
    <p>&copy; {new Date().getFullYear()} Servicios Electromecánicos SCJ. Todos los derechos reservados.</p>
</footer>

<style>
    footer {
        text-align: center;
        padding: 2rem;
        background-color: rgba(0, 0, 0, 0.2); /* Fondo semitransparente */
        color: var(--color-blanco); /* Color definido en global.css */
        margin-top: auto; /* Empuja el footer hacia abajo */
    }
</style>
